.App {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	height: 10vh;
	width: 100%;
}

@media only screen and (max-width: 430px) {
	h1 #Sub-title {
		display: none;
	}
}

.App-section {
	display: block;
	overflow: auto;
	width: 100%;
	height: 80vh;
}

#Map-info {
	background-color: #282c34;
	text-align: center;
	padding: 1rem;
	color: white;
}

#Marker {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

nav {
	width: 100%;
	background-color: #282c34;
}

nav ul {
	height: 10vh;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	color: white;
	font-weight: 600;
	cursor: default;
}

.Button {
	cursor: pointer;
}

@media only screen and (min-height: 550px) {
	nav ul {
		height: 5vh;
	}
	.App-section {
		height: 85vh;
	}
}
